---
import BlogCard from "../components/BlogCard.astro";
import SimpleContent from "../layouts/SimpleContent.astro";
import { toSimpleDate } from "../utils/dates";
import { listPost } from "../utils/server/notion";

const blogPages = await listPost();

export const prerender = false;
---

<SimpleContent
  title="Sam Liu's Blog"
  description="Here's what I've been up to."
>
  <div slot="heading" class="pt-1">
    <h1 class="text-black text-5xl font-medium">Blog</h1>
  </div>
  <div slot="content">
    <div class="leading-8">
      <p>
        You can find me tinkering with tech and exploring new hobbies in my free
        time.
      </p>
      <p>
        It has led me to learn things, visit places, and meet people I'd never
        have expected to. So, here's an attempt to document and share my
        journey.
      </p>
      <br />
      <p>
        I'm still new to a bunch of stuff, so take my words with a grain of
        salt.
      </p>
    </div>
    <!-- <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 pt-16">
      {
        workDocs.map((doc) => (
          <WorkCard
            name={doc.frontmatter.name}
            desc={doc.frontmatter.desc}
            href={doc.url}
          />
        ))
      }
  </div> -->

    <div class="grid pt-16 gap-4">
      {
        blogPages.map((page) => (
          <BlogCard
            title={page.title}
            summary={page.summary}
            date={toSimpleDate(new Date(page.created_time))}
            tags={page.tags}
            tag_colors={page.tag_colors}
            href={`/blog/${page.slug}`}
          />
        ))
      }
    </div>
    <!-- <h2 class="text-3xl font-medium">Scrapbook</h2>
      <div class="grid grid-cols-2 pt-5">
        <div
          class="border shadow border-gray-200 rounded py-4 px-5 w-full space-y-4"
        >
          <p class="font-medium">June 1, 12:34 pm</p>
          <div class="space-y-2">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo amet
              ratione vero laboriosam non, obcaecati repellendus animi possimus
              provident ullam expedita nesciunt quam aliquam maxime. Dicta
              voluptate itaque ex quasi. Aliquam, sit.
            </p>
            <img
              src="https://picsum.photos/1920/1080"
              alt="Random Image"
              class="rounded"
            />
          </div>
        </div>
      </div> -->
    <p class="text-sm text-gray-800 text-center pt-8">
      More coming soon! I'm still working on more posts!
    </p>
  </div>
</SimpleContent>
