---
import BlogCard from "../components/BlogCard.astro";
import EmptyCard from "../components/EmptyCard.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import WorkCard from "../components/WorkCard.astro";
import Layout from "../layouts/Layout.astro";
import { toSimpleDate } from "../utils/dates";
import { listPost } from "../utils/server/notion";

const workDocs = await Astro.glob("./work/*.md");
const blogPages = await listPost(3);

export const prerender = false;
---

<Layout title="Sam Liu">
  <Navbar />
  <main class="flex justify-center text-gray-800">
    <div class="grow px-10 sm:px-16 md:px-20 max-w-[60rem]">
      <div class="pt-40">
        <p class="text-2xl">Hey there! <span>👋</span></p>
        <h1 class="text-5xl font-medium pt-1 text-black">I'm Sam Liu</h1>
        <p class="pt-4 text-lg">I build things</p>
      </div>
      <div class="w-full flex justify-center">
        <div class="border-b-2 my-20 w-48 border-gray-200"></div>
      </div>
      <section>
        <div class="leading-8">
          <p>
            I'm a teen from Ontario, Canada building random stuff and exploring
            what interests me. I've built human-sized robots, crafted code used
            by teens around the world, and organized <a
              href="https://youtu.be/QvCoISXfcE8"
              target="_blank"
              class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
              >Canada's largest</a
            >, and <a
              href="https://youtu.be/H5RPsCMl3uM"
              target="_blank"
              class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
              >Ottawa's first</a
            > irl hackathon for teens. My goal is to inspire my peers to start coding,
            and to start making. You can see some of the stuff I've been working
            on in my <a
              href="https://github.com/samdev-7"
              target="_blank"
              class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
              >GitHub profile</a
            >.
          </p>
          <br />
          <p>
            In my free time, you can find me tinkering and exploring with random
            tech. A ton of my knowledge comes from messing about and diving into
            rabbit-holes. I have a weird assortment of interests—3D printing,
            event logistics, graphic design, web development, electronics,
            robotics, and ML—to list a few. I created this website to document
            my journey and to share what I've learned.
          </p>
          <br />
          <p>
            You may know me as a <a
              href="https://www.firstinspires.org/robotics/frc"
              target="_blank"
              class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
              >First Robotics</a
            > kid, a <a
              href="https://hackclub.com/"
              target="_blank"
              class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
              >Hack Clubber</a
            >, a friend, or that random person at school. I may seem awkward at
            first, but I'm always down to chat about stuff. So if we haven't met
            yet, <a
              href="/contact"
              class="underline decoration-gray-400 motion-safe:hover:decoration-gray-800 motion-safe:transition motion-safe:duration-75"
              >say hi</a
            >!
          </p>
          <br />
          <p>
            I welcome to this quiet corner amidst the chaotic world we're in
            where I share my thoughts and creations. Bear in mind that this
            website is still (and will always be) a work in progress, but feel
            free to look around!
          </p>
        </div>
      </section>
      <section class="space-y-4 mt-20">
        <div class="flex flex-col space-y-2">
          <h2 class="text-3xl font-medium grow">My work</h2>
          <a class="flex space-x-1.5 items-center group" href="/work">
            <p class="group-hover:underline">See all work</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 motion-safe:transition-all motion-safe:group-hover:translate-x-0.5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </a>
        </div>
        <div class="flex gap-x-4">
          <WorkCard
            name={workDocs[0].frontmatter.name}
            desc={workDocs[0].frontmatter.desc}
            href={workDocs[0].url}
          />
          <WorkCard
            class="hidden sm:block"
            name={workDocs[1].frontmatter.name}
            desc={workDocs[1].frontmatter.desc}
            href={workDocs[1].url}
          />
          <WorkCard
            class="hidden md:block"
            name={workDocs[2].frontmatter.name}
            desc={workDocs[2].frontmatter.desc}
            href={workDocs[2].url}
          />
        </div>
      </section>
      <section class="space-y-4 py-20">
        <div class="flex flex-col space-y-2">
          <h2 class="text-3xl font-medium">My blog</h2>
          <a class="flex space-x-1.5 items-center group" href="/blog">
            <p class="group-hover:underline">See all posts</p>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 motion-safe:transition-all motion-safe:group-hover:translate-x-0.5"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"></path>
            </svg>
          </a>
        </div>
        <div class="flex flex-col space-y-4">
          {
            blogPages.map((page) => (
              <BlogCard
                title={page.title}
                summary={page.summary}
                date={toSimpleDate(new Date(page.created_time))}
                href={`blog/${page.slug}`}
                tags={page.tags}
                tag_colors={page.tag_colors}
              />
            ))
          }
        </div>
      </section>
    </div>
  </main>
  <div class="sm:h-12"></div>
  <Footer />
</Layout>
